# 제공 데이터셋 및 개별 데이터셋은 업데이트하지 않음
dataset/*
code/__pycache__/
code/wandb/
code/prediction/
code/logs
code/best_model
code/results

# 이외 구조만 유지해야 하는 폴더 지정하기(내부 모델 및 예측 데이터는 업데이트하지 않음)
## code/results - train.py를 통해 설정된 step 마다 model이 저장되는 폴더
code/results/*
!code/results/.ipynb_checkpoints/
code/results/.ipynb_checkpoints/*
!code/results/.ipynb_checkpoints/.gitkeep

## code/prediction - inference.py 를 통해 model이 예측한 정답 submission.csv 파일이 저장되는 폴더
code/prediction/*
!code/prediction/sample_submission.csv
!code/prediction/.ipynb_checkpoints/
code/prediction/.ipynb_checkpoints/*
!code/prediction/.ipynb_checkpoints/sample_submission-checkpoint.csv

## code/best_model - 학습중 evaluation이 best인 model이 저장되는 폴더
code/best_model/*
!code/best_model/.ipynb_checkpoints/
code/best_model/.ipynb_checkpoints/*
!code/best_model/.ipynb_checkpoints/.gitkeep

## code/logs - 텐서보드 로그가 담기는 폴더
code/logs/*
!code/logs/.gitkeep

code/pretrained/
code/pretrained_roberta_large/
code/pretraining_outputs/
code/pretraining_robertalarge_output/
code/RL_results/
code/RL_tapt_best_model_fold0/
code/Roberta-large_fold0
code/Roberta-large_fold1
code/Roberta-large_fold2
code/Roberta-large_fold3
code/Roberta-large_fold4
code/runs/
code/tapt_best_model/
code/tapt_results/

code/best_model_fold0
code/best_model_fold1
code/best_model_fold2
code/best_model_fold3
code/best_model_fold4
code/best_model_tpe

examining.ipynb
sentences.txt
tokencompare.txt
tokenized_test.csv

code/legacy